:root{
        --logo-color: #000;
        --mainlogo-color: #2196F3;
        --maincolor-color: #212121;
        --background-color: #2F303A;
        --numberline-color:#757575;
        --sectionbg-color: #F5F4FA;
        --title-color: #FFFF;
        --footertitle-color:rgba(255, 255, 255, 0.60);
        --ramborder-color: #EEE;
}


body{
    font-family: "Roboto";
    color: var(--maincolor-color);
}
 
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}


.header-port{
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
}

.header-logo{
    color: var(--logo-color);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}

.header-web{
    color: var(--mainlogo-color);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}

.header-box{
    display: flex;
    align-items: center;
}

.header-nav-port{
    display: flex;
    margin-left: 93px;
}

.header-ul-port{
    display: flex;
    gap: 50px;
}

.address-port{
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 50px;
}

.navigation-list-port-visited{
    color: var(--mainlogo-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}

.navigation-list-port{
    color: var(--maincolor-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.navigation-list-port:hover{
    color: var(--mainlogo-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    
}

.navigation-list-port{
    color: var(--maincolor-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
transition-property: color;
transition-duration: 250ms ;
}

.navigation-list-port:hover,
.navigation-list-port:focus{
      color: var(--mainlogo-color);
}

.navigation-list-port-visited{
    color: var(--mainlogo-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    transition-property: color;
transition-duration: 250ms ;
}

.navigation-list-port::after{
   content: "";
   display: block;
   position: absolute;
   border-radius: 2px;
   width: 100%;
   height: 4px;
   background-color: var(--mainlogo-color);
   bottom: -28px;
   opacity: 0;
   transition-property: opacity;
transition-duration: 250ms ;
}

.navigation-list-port:hover::after{
    opacity: 1;
}

.navigation-list-port-visited::after{
    content: "";
   display: block;
   position: absolute;
   border-radius: 2px;
   width: 100%;
   height: 4px;
   background-color: var(--mainlogo-color);
   bottom: -28px;
   opacity: 0;
   transition-property: opacity;
transition-duration: 250ms ;
}

.navigation-list-port-visited:hover::after{
    opacity: 1;
}

.nav-list-port{
    position: relative;
}

.address-list-port{
    color: var(--numberline-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}



.address-list-port:hover{
    color: var(--mainlogo-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.address-list-port{
    color: var(--numberline-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
width: 16px;
height: 12px;
transition-property: color;
transition-duration: 250ms ;
}

.address-list-port2{
    color: var(--numberline-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
width: 16px;
height: 12px;
transition-property: color;
transition-duration: 250ms ;
}

.address-list-port:hover,
.address-list-port:focus{
      color: var(--mainlogo-color);
      .address-svgh-port{
        width: 16px;
        height: 12px;
        fill: #2196F3;
      }
}

.address-list-port2:hover,
.address-list-port2:focus{
      color: var(--mainlogo-color);
      .address-svgh-port2{
        width: 10px;
        height: 16px;
        fill: #2196F3;
      }
}

.address-svgh-port{
    width: 16px;
    height: 12px;
    margin-right: 10px;
    transition-property: fill;
transition-duration: 250ms ;
}

.address-svgh-port2{
    width: 10px;
    height: 16px;
    margin-right: 10px;
    transition-property: fill;
transition-duration: 250ms ;
}

.address-svgh-port:hover,
.address-svgh-port:focus{
    fill: var(--mainlogo-color);
}

.address-svgh-port2:hover,
.address-svgh-port2:focus{
    fill: var(--mainlogo-color);
}

.button-list{
    padding-top: 94px;
    padding-bottom: 94px;
}


.item-list{
    display: flex;
    align-items: center;
}

.tovar-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
    
.card{
    flex-basis: calc((100% - 60px) / 3);
    border: 1px solid var(--title-color);
    position: relative;
    transition-property: border,box-shadow,;
    transition-duration: 250ms ;
}

.card:hover{
    flex-basis: calc((100% - 60px) / 3);
    border: 1px solid var(--title-color);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
   
}

.card-img{
    width: 100%;
}

.card-text-port{
    background: rgba(33, 150, 243, 0.90);
    color: var(--title-color);
    width: 370px;
    height: 294px; 
    text-align: center;
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.55; /* 155.556% */
    letter-spacing: 0.54px;
    top: 0;
    left: 0;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 250ms ;
}

.card:hover{
    .card-text-port{
        opacity: 1;
    }
}


.tovar-titlee{
    border: 1px solid var(--ramborder-color);
    box-sizing: border-box;
    padding: 20px 24px;
    
}

.button-navigate{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;
}


.port-button{
    display: flex;
    white-space: nowrap;
    padding: 6px 22px;
    color: var(--maincolor-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
    letter-spacing: 0.48px;
    border-radius: 4px;
    border: none;
    background: #F5F4FA;
    transition-property: color,background,box-shadow;
    transition-duration: 250ms ;
}

.port-button:hover{
    color: #FFF;
    border-radius: 4px;
    background: #2196F3;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
    letter-spacing: 0.48px;
    border-radius: 4px;
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}


.name-port{
    color: var(--maincolor-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 36px; /* 200% */
    letter-spacing: 1.08px;
 }
    
    .work-port{
        color: var(--numberline-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.48px;
 }
    


.address-tel-port{
    color: var(--maincolor-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
}


.address-visited-port{
    color: var(--mainlogo-color);
}


.main-footer{
    background-color: var(--background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-web{
    color: var(--title-color);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1,38;
letter-spacing: 0.78px;
}

.footer-studio{
    color: var(--mainlogo-color);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}

.main-address{
    margin-top: 20px;
}

.contacts-list{
    margin-top: 9px;
}

.address-map{
    color: var(--title-color);
font-size: 14px;
font-weight: 400;
line-height: 1.71; 
font-style: normal;
letter-spacing: 0.42px;
}

.address-footer{
    color: var(--footertitle-color);
font-size: 14px;
font-weight: 400;
line-height: 1.71; 
letter-spacing: 0.42px;
}

.tel-footer{
    color: var(--footertitle-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71; 
    letter-spacing: 0.42px;
}

.main-links{
    display: flex;
    align-items: baseline;
    
}

.links-title-port{
    color: var(--title-color);
font-family: Roboto;
font-size: 14px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 20px;
}

.links-footer-main-port{
    margin-left: 70px;
}

.footer-links-list-port{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-links-port{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 44px;
    gap: 10px;
}

 .footer-links-port{
    background-color: rgba(255, 255, 255, 0.10);
     .footer-links-img-port{
        fill: var(--title-color);
        width: 44px;
        height: 44px;
        padding: 12px 12px 12px 12px;
        
    }  
    transition-property: background-color ;
    transition-duration: 250ms ;
}


.footer-links-port:hover,
.footer-links-port:focus{
    background-color: var(--mainlogo-color);
}

.newsletter-title{
    color: var(--title-color);
font-size: 14px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 20px;
}

.newsletter-label{
    color: rgba(255, 255, 255, 0.60);
font-size: 16px;
font-weight: 400;
line-height: 1.25; /* 125% */
letter-spacing: 0.48px;
display: flex;
justify-content: center;
align-items: center;
}

.newsletter-input{
    width: 358px;
height: 50px;
border-radius: 4px;
border: 1px solid rgba(255, 255, 255, 0.30);
background: rgba(33, 150, 243, 0.00);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.newsletter-btn{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87; /* 187.5% */
    letter-spacing: 0.96px;
border-radius: 4px;
background: #2196F3;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
border: none;
margin-left: 10px;
padding: 10px 28px 10px 28px;
.newsletter-svg{
    width: 24px;
    height: 24px;
margin-left: 10px;
fill: var(--title-color);
vertical-align: middle;
}
}

.newsletter{
    margin-left: 93px;
}