:root {
    --logo-color: #000;
    --mainlogo-color: #2196F3;
    --maincolor-color: #212121;
    --background-color: #2F303A;
    --numberline-color: #757575;
    --sectionbg-color: #F5F4FA;
    --title-color: #FFFF;
    --footertitle-color: rgba(255, 255, 255, 0.60);
    --buttonmain-color: rgba(0, 0, 0, 0.15);
    --greylic-color: #F5F4FA;
    --black-color: #000;
    --backgroundimg-color: rgba(47, 48, 58, 0.40);
    --buttonshadow-color: rgba(0, 0, 0, 0.15);
    --borderclient-colo: #AFB1B8;


}

body {
    font-family: "Roboto";
    color: var(--maincolor-color);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.header {
    padding-top: 24px;
    padding-bottom: 25px;


}


.header-logo {
    color: var(--logo-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}


.header-web {
    color: var(--mainlogo-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;

}

.header-list {
    display: flex;
    box-sizing: border-box;
    gap: 50px;
}

.nav-header {
    display: flex;
    margin-left: 93px;
}

.header-box {
    display: flex;
    align-items: center;
}

.address-header {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin-left: auto;
    gap: 50px;
}


.nav-list {
    color: var(--maincolor-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.nav-list:hover,
.nav-list:focus {
    color: var(--mainlogo-color);
}

.nav-list-active {
    color: var(--mainlogo-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}


.address-list {
    color: var(--numberline-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    width: 16px;
    height: 12px;
}

.address-list:hover,
.address-list:focus {
    color: var(--mainlogo-color);

    .address-svgh {
        width: 16px;
        height: 12px;
        fill: #2196F3;
    }
}

.address-svgh {
    width: 16px;
    height: 12px;
    margin-right: 10px;
}

.address-svgh:hover,
.address-svgh:focus {
    fill: var(--mainlogo-color);
}

.main-hero {
    padding-top: 200px;
    padding-bottom: 200px;
    width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../img/background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 0 auto;
}

.title-hero {
    color: var(--title-color);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
    width: 696px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}


.main-button {
    color: var(--title-color);
    background: var(--mainlogo-color);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    /* 187.5% */
    letter-spacing: 0.96px;
    border-radius: 4px;
    padding: 10px 32px;
    border: none;
    box-shadow: 0px 4px 4px 0px var(--buttonshadow-color);
}

.main-project {
    padding-top: 94px;

}

.project {
    display: flex;
    box-sizing: border-box;
    gap: 30px;
}

.project-name {
    margin-bottom: 10px;
}


.project-item::before {
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--greylic-color);
    background-image: url(../img/antenna.png);
    background-position: center;
    background-repeat: no-repeat;
}

.project-item2::before {
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--greylic-color);
    background-image: url(../img/clock.png);
    background-position: center;
    background-repeat: no-repeat;
}

.project-item3::before {
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--greylic-color);
    background-image: url(../img/diagram.png);
    background-position: center;
    background-repeat: no-repeat;
}

.project-item4::before {
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--greylic-color);
    background-image: url(../img/astronaut.png);
    background-position: center;
    background-repeat: no-repeat;
}

.project-name {
    color: var(--maincolor-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.project-tag {
    color: var(--numberline-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    /* 171.429% */
    letter-spacing: 0.42px;
}

.main-service {
    padding-bottom: 94px;
    padding-top: 94px;
    background-color: var(--title-color);
}

.service-title {
    margin-bottom: 50px;
}

.service-list {
    display: flex;
    box-sizing: border-box;
    gap: 30px;

}

.service-title {
    color: var(--maincolor-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
}

.service-pose {
    position: relative;
}

.service-p {
    position: absolute;
    background: rgba(47, 48, 58, 0.80);
    padding: 27px 107px 27px 107px;
    white-space: nowrap;
    bottom: 0;
    left: 0;
    right: 0;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.team-section {
    background: var(--sectionbg-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.image-team {
    display: flex;
    width: 270px;
    height: 260px;
}

.team-div {
    border-radius: 0px 0px 4px 4px;
    background: var(--title-color);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}


.team-title {
    color: var(--maincolor-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.section-team-li {
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);

}

.team-ul {
    display: flex;
    box-sizing: border-box;
    gap: 30px;
}


.name-team {
    color: var(--maincolor-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.48px;
    margin-bottom: 10px;
}

.work-team {
    color: var(--numberline-color);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.48px;
    margin-bottom: 16px;
}

.team-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* SVG */
.team-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 44px;
    padding: 12px 12px 12px 12px;
    background-color: var(--title-color);

    .team-social-img {
        width: 20px;
        height: 20px;
        fill: var(--borderclient-colo);
    }
}

.team-social-link:hover,
.team-social-link:focus {
    border: none;
    outline: 0px solid var(--mainlogo-color);
    background-color: var(--mainlogo-color);

    .team-social-img {
        fill: var(--title-color);
    }
}

.client-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.loyal-customer {
    color: var(--maincolor-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.clients-list {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}


.client-li {
    border-radius: 4px;
    border: 1px solid var(--borderclient-colo);

    .clients-img {
        width: 106px;
        height: 60px;
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 16px;
        padding-bottom: 16px;
        fill: var(--borderclient-colo);
    }
}

.client-li:hover,
.client-li:focus {
    border: 1px solid var(--mainlogo-color);

    .clients-img {
        fill: var(--mainlogo-color);
    }
}


.main-footer {
    background-color: var(--background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-web {
    color: var(--title-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1, 38;
    letter-spacing: 0.78px;
}

.footer-studio {
    color: var(--mainlogo-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.main-address {
    margin-top: 20px;
}

.contacts-list {
    margin-top: 9px;
}

.address-map {
    color: var(--title-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    font-style: normal;
    letter-spacing: 0.42px;
}

.address-footer {
    color: var(--footertitle-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

.tel-footer {
    color: var(--footertitle-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

.main-links {
    display: flex;
    align-items: baseline;

}

.links-title {
    color: var(--title-color);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.links-footer-main {
    margin-left: 70px;
}

.footer-links-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 44px;
    gap: 10px;
}

.footer-links {
    background-color: rgba(255, 255, 255, 0.10);

    .footer-links-img {
        fill: var(--title-color);
        width: 20px;
        height: 20px;
        padding: 12px 12px 12px 12px;

    }
}

.footer-links:hover,
.footer-links:focus {
    background-color: var(--mainlogo-color);
}


/* ================== */
/* Модальне вікно */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.20);
    opacity: 1;
}

.is-hidden {
    pointer-events: none;
    opacity: 0;
}

.model {
    background-color: var(--title-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
}

.model-title {
    color: var(--maincolor-color)1;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-bottom: 12px;
}

.model-label {
    color: var(--numberline-color);
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
}

.model-box {
    position: relative;

}

.model-input {
    width: 448px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    margin-top: 4px;
    margin-bottom: 10px;
    display: block;
    padding-left: 40px;

}

.model-input:hover,
.model-input:focus {
    border: none;
    outline: 1px solid var(--mainlogo-color);

}

.model-input:hover+.model-icon,
.model-input:focus+.model-icon {
    fill: var(--mainlogo-color);
}


.model-icon {
    fill: var(--maincolor-color);
    width: 18px;
    height: 18px;
    position: absolute;
    top: 11px;
    left: 10px;

}



.model-comentt {
    width: 448px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    color: rgba(117, 117, 117, 0.50);
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
    resize: none;
    padding: 12px 16px;
    margin: 4px 0 25px 0;
    display: block;
}


.model-comentt:hover,
.model-comentt:focus {
    border: transparent;
    outline: 1px solid var(--mainlogo-color);
}

.model-span {
    color: var(--numberline-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    margin-left: 8px;
    margin-right: 4px;
}

.model-link {
    color: var(--mainlogo-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-decoration-line: underline;
}

.model-check {
    display: flex;
    justify-content: center;
    align-items: center;
}

.model-checkbox {
    width: 16px;
    height: 15px;
}

.model-btn {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
    border-radius: 4px;
    background: var(--mainlogo-color);
    padding: 10px 52px;
    border: none;
    margin: 30px 124px 0px 124px;
}

.model-btn:hover,
.model-btn:focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    outline: 0px solid transparent;
}

.model-close {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: absolute;
    top: 8px;
    right: 8px;

}

.model-close:hover,
.model-close:focus {
    outline: 0px solid transparent;

    .model-exit {
        fill: var(--mainlogo-color);
    }
}



.model-exit {
    width: 11px;
    height: 11px;
    fill: var(--black-color);

}