.main-service{
    padding-bottom: 94px;
    padding-top: 94px;
    background-color: var(--title-color);
}

.service-title{
    margin-bottom: 50px;
}

.service-list{
      display: flex;
      box-sizing: border-box;
      gap: 30px;

}

.service-title{
    color: var(--maincolor-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
}

.service-pose{
   position: relative;
}

.service-p{
  position: absolute;
  background: rgba(47, 48, 58, 0.80);
  padding: 27px 107px 27px 107px;
  white-space: nowrap;
  bottom: 0;
  left: 0;
  right: 0;
  color: #FFF;
text-align: center;
font-size: 14px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
}