.team-section{
    background:var(--sectionbg-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.image-team{
    display: flex;
    width: 270px;
    height: 260px;
}

.team-div{
    border-radius: 0px 0px 4px 4px;
    background: var(--title-color);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}


.team-title{
    color: var(--maincolor-color);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;
margin-bottom: 50px;
}

.section-team-li{
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);

}

.team-ul{
    display: flex;
    box-sizing: border-box;
    gap: 30px;
}


.name-team{
    color: var(--maincolor-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.48px;
    margin-bottom: 10px;
}

.work-team{
    color: var(--numberline-color);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.48px;
    margin-bottom: 16px;
}

.team-social-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.team-social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 44px;
    padding: 12px 12px 12px 12px;
    background-color: var(--title-color);
    .team-social-img{
        width: 20px;
        height: 20px;
        fill: var(--borderclient-colo);
    }
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
     transition-property: fill,background-color;
     transition-duration: 250ms ;

}

.team-social-link:hover,
.team-social-link:focus{
    border: none;
    outline: 0px solid var(--mainlogo-color);
    background-color: var(--mainlogo-color);
    .team-social-img{
        fill: var(--title-color);
    }
}