:root {
    --logo-color: #000;
    --mainlogo-color: #2196F3;
    --maincolor-color: #212121;
    --background-color: #2F303A;
    --numberline-color:#757575;
    --sectionbg-color: #F5F4FA;
    --title-color: #FFFF;
    --footertitle-color:rgba(255, 255, 255, 0.60);
    --buttonmain-color: rgba(0, 0, 0, 0.15);
    --greylic-color: #F5F4FA;
    --black-color: #000;
    --backgroundimg-color:rgba(47, 48, 58, 0.40);
    --buttonshadow-color:rgba(0, 0, 0, 0.15);
    --borderclient-colo:#AFB1B8;


}
